body{
    background-color: white;
display: flex;
width: 100vw;
height: 100vh;
}
.login{
    width: 50%;
    height: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 8%;
}

form{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
gap:20px ;
    align-items: center;
    justify-content: center;
}

input {
border: none;
background-color: transparent;
height: 40px;

}
.editinput{
display: flex;
justify-content: center;
align-items: center;
    width: 90%;
    border: 1 whitesmoke ;
    background-color:whitesmoke;
    border-radius: 20px;
    
}
.icon{
    width: 20px;
    height: 20px;
}
.button1{
    background: linear-gradient(to right, #5204a5d8, #211563);
    
    border-radius: 20px;
    height: 40px;
    width: 80px;
    color: aliceblue;
}
button{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}
.about{
    width: 50%;
    height: 100vh;
    background: linear-gradient( to right, #5204a5d8, #5b5b86);
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    width: 60%;
    height: 60%;
    background: rgba(255, 255, 255, 0.541);
    padding: -50px;
    border-radius: 15px;
  }
 .p1{
    font-style: italic;
    color: white;
    width: 30%;
    font-size: xx-large;
   margin-top: 30px;
margin-left: 90px;
 }
 
 .woman{
 width:700px;
 margin-top: -60%;
 margin-left: -90px;
} 
